In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-03-29 05:29:32,-34.4187,19.2345,62.73,78,79,11.68
1,1,Lebu,CL,2022-03-29 05:29:33,-37.6167,-73.6500,55.53,87,66,12.73
2,2,Rikitea,PF,2022-03-29 05:29:33,-23.1203,-134.9692,78.26,68,86,3.18
3,3,Basco,PH,2022-03-29 05:29:34,20.4487,121.9702,79.29,79,100,21.16
4,4,Busselton,AU,2022-03-29 05:29:34,-33.6500,115.3333,78.31,55,98,15.14

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
### General heat map syntax below
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

print(max(temps))

104.32

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
#Change the figure center and adjust zoom level

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-03-29 05:29:33,-23.1203,-134.9692,78.26,68,86,3.18
3,3,Basco,PH,2022-03-29 05:29:34,20.4487,121.9702,79.29,79,100,21.16
4,4,Busselton,AU,2022-03-29 05:29:34,-33.6500,115.3333,78.31,55,98,15.14
11,11,Tual,ID,2022-03-29 05:29:37,-5.6667,132.7500,81.39,76,100,11.77
14,14,Bathsheba,BB,2022-03-29 05:29:38,13.2167,-59.5167,77.61,73,40,17.27
15,15,Quatre Cocos,MU,2022-03-29 05:29:38,-20.2078,57.7625,84.09,63,0,5.01
23,23,Trat,TH,2022-03-29 05:29:42,12.5000,102.5000,89.80,54,78,2.75
32,32,Bonfim,BR,2022-03-29 05:29:45,3.0833,-59.9500,77.20,73,74,9.91
34,34,Vao,NC,2022-03-29 05:29:46,-22.6667,167.4833,78.33,76,100,14.34
44,44,Butaritari,KI,2022-03-29 05:30:50,3.0707,172.7902,80.96,72,32,9.78

In [11]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

In [13]:
hotel_df["Hotel Name"] = ""
hotel_df

           City Country  Max Temp      Lat       Lng Hotel Name
2       Rikitea      PF     78.26 -23.1203 -134.9692
3         Basco      PH     79.29  20.4487  121.9702
4     Busselton      AU     78.31 -33.6500  115.3333
11         Tual      ID     81.39  -5.6667  132.7500
14    Bathsheba      BB     77.61  13.2167  -59.5167
..          ...     ...       ...      ...       ...        ...
542         Eyl      SO     83.53   7.9803   49.8164
543  Champerico      GT     81.52  14.3000  -91.9167
548     Labuhan      ID     86.40  -6.8844  112.2051
554      Maceio      BR     76.44  -9.6658  -35.7353
560     Emerald      AU     89.74 -23.5333  148.1667

[139 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng               Hotel Name
2        Rikitea      PF     78.26 -23.1203 -134.9692          People ThankYou
3          Basco      PH     79.29  20.4487  121.9702        Nathaniel's Lodge
4      Busselton      AU     78.31 -33.6500  115.3333  Observatory Guest House
11          Tual      ID     81.39  -5.6667  132.7500        Grand Vilia Hotel
14     Bathsheba      BB     77.61  13.2167  -59.5167           Atlantis Hotel
15  Quatre Cocos      MU     84.09 -20.2078   57.7625   Sunrise Attitude Hotel
23          Trat      TH     89.80  12.5000  102.5000              สวนหนิง-อัศ
32        Bonfim      BR     77.20   3.0833  -59.9500
34           Vao      NC     78.33 -22.6667  167.4833          Hotel Kou-Bugny
44    Butaritari      KI     80.96   3.0707  172.7902       Isles Sunset Lodge

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [1]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# We set the hotel_info equal to the info_box_content.
# In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))